<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comparison</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/d3Style.css">
  </head>

  <body data-gr-c-s-loaded="true">
    <nav class="navbar_home">
      <img id="jayhawk-icon" src="/static/images/ku_jayhawk.png" alt="Jayhawk icon">&nbsp;&nbsp;&nbsp;
      <a href="/">Home</a>
    </nav>

    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <h1>Comparison</h1>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-md-5'>
          <img src="static\images\education_employed.PNG" alt="EDU EMP" width="600" height="450" />
        </div>
        <div class='col-md-2'>

        </div>
        <div class='col-md-5'>
          <img src="static\images\education_unemployed.PNG" alt="EDU UNEMP" width="600" height="450" />
        </div>
      </div>
    </div>

  </body>

</html>