<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>D3Times</title>
		<link rel="stylesheet" href="static/css/style.css">
		<!-- kills favicon.ico 404 error -->
		<link rel="icon" href="data:;base64,iVBORwOKGO=">
		<!-- Latest compiled and minified CSS & JS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"
			integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<link rel="stylesheet" href="/static/css/style1.css">
		<link rel="stylesheet" href="/static/css/d3Style.css">
	</head>

	<body>
		<!-- Navigation Section -->
		<div class="navigation">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" style="background-color: grey;" href="/">CPS Federal </a>
				<button class="navbar-toggler  border border-white" type="button" data-toggle="collapse"
					data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Graphs
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/education_employed">Level of employment by education
									degree </a>
								<a class="dropdown-item" href="/education_unemployed">Level of unemployment by
									education degree </a>
								<a class="dropdown-item" href="/age_employed">Level of employment by age </a>
								<a class="dropdown-item" href="/age_unemployed">Level of unemployment by age </a>
							</div>

						</li>
						<li class="nav-item">
							<a class="nav-link" href="/data">Data</a>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>Education Employment</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="iframeContainer">
						<iframe src="/edu_employed_d3"></iframe>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12  col-md-12 col-md-offset-0">
					<div class="article">
						<p id="analysis">Analysis goes here</p>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>